# Fake News Detection

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
df_fake = pd.read_csv('Fake.csv')
df_true = pd.read_csv('True.csv')

In [3]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
#Add encoding column
df_true["class"] = 1
df_fake["class"] = 0

In [5]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [6]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [7]:
#generate test file from the dataset(s)
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480, 23470, -1):
    df_fake.drop([i], axis=0, inplace=True)

df_true_manual_testing = df_true.tail(10)
for i in range(21416, 21406, -1):
    df_true.drop([i], axis=0, inplace=True)

In [8]:
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)
df_manual_testing.to_csv("manual_testing.csv")

In [9]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [10]:
#remove columns from the df
df = df_merge.drop(["title", "subject", "date"], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [11]:
#shuffling the dataset
df = df.sample(frac=1)

In [12]:
df.head(10)

                                                    text  class
14100  MOSCOW/PARIS (Reuters) - The Kremlin said on W...      1
11210  WASHINGTON (Reuters) - The U.S. Missile Defens...      1
18239  A California farmer fined $2.8 million for plo...      0
5317   Now that the Democratic National Convention ha...      0
20653  More protests are probably happening today at ...      0
4464   WASHINGTON (Reuters) - The U.S. Senate moved o...      1
9580   BERLIN (Reuters) - If Britain were to leave th...      1
17102  LONDON (Reuters) - Richard Branson, billionair...      1
12268  WASHINGTON (Reuters) - Two U.S. F-22 fighter a...      1
4692   WASHINGTON (Reuters) - After failing to repeal...      1

In [13]:
#checking for null values
df.isnull().sum()

text     0
class    0
dtype: int64

In [43]:
#removing special characters function
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W", " ",text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [15]:
df["text"] = df["text"].apply(word_drop)

In [16]:
df.head(10)

                                                    text  class
14100  moscow paris  reuters    the kremlin said on w...      1
11210  washington  reuters    the u s  missile defens...      1
18239  a california farmer fined    million for plowi...      0
5317   now that the democratic national convention ha...      0
20653  more protests are probably happening today at ...      0
4464   washington  reuters    the u s  senate moved o...      1
9580   berlin  reuters    if britain were to leave th...      1
17102  london  reuters    richard branson  billionair...      1
12268  washington  reuters    two u s  f  fighter air...      1
4692   washington  reuters    after failing to repeal...      1

In [17]:
x = df["text"]
Y = df["class"]

In [18]:
#partitioning
x_train, x_test, y_train, y_test = train_test_split(x, Y, test_size = 0.25)

In [19]:
#text vectorization using TFID
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

## Classification

### Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [23]:
LR.score(xv_test, y_test)

0.9859180035650624

In [24]:
pred_LR = LR.predict(xv_test)

In [25]:
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5862
           1       0.98      0.99      0.99      5358

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

 ### Decision Tree Classification

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [28]:
DT.score(xv_test, y_test)

0.9961675579322639

In [29]:
pred_DT = DT.predict(xv_test)

In [30]:
#print classification report
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5862
           1       1.00      0.99      1.00      5358

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

### Gradient Boosting Classifier

In [31]:
from sklearn.ensemble import GradientBoostingClassifier

In [32]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_test, y_test)

GradientBoostingClassifier(random_state=0)

In [33]:
GBC.score(xv_test, y_test)

0.9968805704099821

In [34]:
pred_GBC = GBC.predict(xv_test)

In [35]:
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5862
           1       1.00      1.00      1.00      5358

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

### Random Forest Classifier

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [37]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [38]:
RFC.score(xv_test, y_test)

0.9885026737967915

In [39]:
pred_RFC = RFC.predict(xv_test)

In [40]:
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5862
           1       0.99      0.99      0.99      5358

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

## Testing

In [48]:
def outputLabel(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Valid News"

def manualTesting(news):
    testing_news = {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)
    
    return print("\n\nLR Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(outputLabel(pred_LR), outputLabel(pred_GBC), outputLabel(pred_RFC)))

In [49]:
news = str(input())
manualTesting(news)

The Kenya Medical Research Institute (Kemri) today received the Japanese Ambassador’s Commendation for its outstanding contribution to improving the health of the Kenyan people while promoting friendship and cooperation between Japan and Kenya. Japan’s involvement with Kemri started from its inception back in 1979. Our support for the construction of laboratories, supply of medical equipment and provision of specialised training, amounting to about 7 billion yen (about Sh7 billion) has helped in developing the institution as one of the leading health research centres in Africa. The establishment of the infrastructural facilities was followed by an aggressive investment in the critical human resources that would drive the premier institution. Kemri’s research has since contributed to reducing the incidence of infectious diseases such as diarrhoea, hepatitis and HIV/Aids, and parasitic diseases such as malaria, schistosomiasis (also known as bilharzia) and jigger infestations. The institution is the first to respond whenever there is a disease outbreak as was demonstrated recently during the Covid-19 pandemic through viral analysis and surveillance. Currently, Kemri is implementing the TCTP to strengthen laboratory capacity to build resilience against public health emergencies in the Eastern Africa region. Our cooperation focused on fostering new leaders for infectious disease control. We provided opportunities for the training of Kemri research scientists in Japan through PhD and master’s degree programmes and short courses.


LR Prediction: Valid News
GBC Prediction: Fake News
RFC Prediction: Valid News